<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incluir Finca</title>
    <%- include('../utils/links') %>

</head>

<body class="container">
    <div class="d-flex justify-content-between mt-4 mb-4">
        <h2 class="">Riego</h2>
        <div class="d-flex align-items-center">
            <a href="/riego" class="btn btn-success mr-1">Ver datos</a>
            <a href="/" class="btn btn-danger" role="button">Cancelar</a>
        </div>
    </div>
    <form action="/addRiego" method="post">
        <div class="form-group">
            <label for="quantity"><small>Cantidad</small></label>
            <input type="number" placeholder="Cantidad en pipas (Solo el numero)" name="dataQuantity" id="quantity" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="year"><small>Fecha</small></label>
            <input type="text" name="dataYear" class="form-control" placeholder="Fecha del riego" id="year">
        </div>

        <div class="form-group">
            <label for="time"><small>Tiempo</small></label>
            <input type="number" class="form-control" name="dataTime" placeholder="Tiempo en horas (Solo el numero)" id="time">
        </div>

        <div class="form-group">
            <label for="info"><small>Informacion</small></label>
            <input type="text" class="form-control" name="dataInfo" placeholder="Informacion adicional" id="info" value="-">
        </div>

        <button type="submit" class="btn btn-primary btn-block">Incluir</button>
        
    </form>
</body>

</html>