<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fincas</title>
    <%- include('utils/links') %>

</head>

<body>
    <div class="container mt-4">
        <div class="d-flex align-items-center justify-content-between">
            <h2>Fincas</h2>
            <div class="d-flex align-items-center">
                <a href="/addTratamiento" class="btn btn-secondary mr-1">Tratamiento</a>
                <a href="/addRiego" class="btn btn-secondary mr-1">Riego</a>
                <a href="/addLluvias" class="btn btn-secondary">Lluvias</a>
            </div>
        </div>
        <%- include('fincas') %>
    </div>
</body>

</html>