<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fincas</title>
    <%- include('utils/links') %>

</head>

<body>
    <div class="container mt-4">
        <h2>Fincas</h2>
        <%- include('fincas') %>
    </div>
</body>

</html>